[Unit]
Description=Redis Exporter for Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ redis_exporter_user }}
Group={{ redis_exporter_group }}
ExecStart=/usr/local/bin/redis_exporter \
  --redis.addr=redis://redis.aman-dw.in:6379 \
  --redis.password=password
Restart=always

[Install]
WantedBy=multi-user.target
