[Unit]
Description=PostgreSQL Exporter
After=network.target

[Service]
User={{ postgres_exporter_user }}
Environment=DATA_SOURCE_NAME={{ data_source_name }}
ExecStart=/usr/local/bin/postgres_exporter
Restart=always

[Install]
WantedBy=multi-user.target
