server:
  http_listen_port: {{ promtail_server_port }}
  grpc_listen_port: 0

positions:
  filename: {{ promtail_positions_dir }}/positions.yml

clients:
  - url: {{ promtail_loki_url }}

scrape_configs:
{{ promtail_scrape_configs | to_nice_yaml(indent=2) }}
