[Unit]
Description=Promtail Log Collector
After=network-online.target
Wants=network-online.target

[Service]
User={{ promtail_user }}
Group={{ promtail_group }}
Type=simple
ExecStart={{ promtail_install_dir }}/promtail \
    -config.file={{ promtail_config_dir }}/config.yml \
{% for arg in promtail_extra_args %}
    {{ arg }} \
{% endfor %}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
